@import url("/css/index.css");

.apresentacao{
    padding-top: 150px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apresentacao h2{
    font-size: 4rem;
    font-family: var(--font-vintage);
    color: var(--color-chocolate);
}

.apresentacao p {
    text-wrap: balance;
    text-align: center;
    font-size: 2rem;
}

.apresentacao video{
    width: 95vw;
    height: 900px;
}

.apresentacao video source {
    width: 100vw;
    height: 100%;
}