<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/agendar.css">
    <link rel="shortcut icon" href="/images/barberman-skull-vintage-removebg-preview.png" type="image/x-icon">
    <title>Emerson Barbeiro</title>
</head>

<body>
    <section class="cabecario">
        <h1>Bem vindo!</h1>
        <p>
            Selecione abaixo o tipo do servico <br>
            a data e o horario do agendamento, <br>
            ao finalizar clique em "Agendar". <br>
        </p>
    </section>
    <form action="/emerson-barbeiro/agenda" class="formulario_agendar" method="post">
        <section class="servicos">
            <h2>Serviços:</h2>
            <ul class="lista_servicos">
                <fieldset>
                    <input type="checkbox" name="degrade" id="degrade">
                    <label for="degrade">
                        <li class="linha_servico degrade">
                            <figure>
                                <img src="/images/man-hair.png" alt="">
                                <figcaption>Degradê</figcaption>
                            </figure>
                        </li>
                    </label>
                    <input type="checkbox" name="tesoura" id="tesoura">
                    <label for="tesoura">
                        <li class="linha_servico tesoura">
                            <figure>
                                <img src="/images/scissors.png" alt="">
                                <figcaption>Tesoura</figcaption>
                            </figure>
                        </li>
                    </label>
                    <input type="checkbox" name="barba" id="barba">
                    <label for="barba">
                        <li class="linha_servico barba">
                            <figure>
                                <img src="/images/beard.png" alt="">
                                <figcaption>Barba</figcaption>
                            </figure>
                        </li>
                    </label>
                    <input type="checkbox" name="test1" id="test1">
                    <label for="test1">
                        <li class="linha_servico test1">
                            <figure>
                                <img src="/images/hairstyle.png" alt="">
                                <figcaption>Test1</figcaption>
                            </figure>
                        </li>
                    </label>
                    <input type="checkbox" name="test2" id="test2">
                    <label for="test2">
                        <li class="linha_servico test2">
                            <figure>
                                <img src="/images/hairstyle.png" alt="">
                                <figcaption>Test2</figcaption>
                            </figure>
                        </li>
                    </label>
                    <input type="checkbox" name="outros" id="outros">
                    <label for="outros">
                        <li class="linha_servico outros">
                            <figure>
                                <img src="/images/more.png" alt="">
                                <figcaption>Outros</figcaption>
                            </figure>
                        </li>
                    </label>
                </fieldset>
            </ul>
        </section>

        <section class="data_e_hora" data-th-attr= "data-text=${horarios}">
            <h2>Escolha sua data:</h2>
           <div class="teste">
            <select name="data" id="data">
                <option value="Selecione uma Data">Selecione uma Data</option>
                <option th:each="data:${datas}" th:value="${data}" th:text="${data}"></option>
            </select>

            <h2>Escolha a hora:</h2>
            <select name="hora" id="hora">
                
            </select>
           </div>

        </section>

        <section class="dados">
            <h2>Dados:</h2>
            <div class="container_dados">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" required>
                <br>
                <label for="numero">Numero:</label>
                <input type="number" name="numero" id="numero">
            </div>
        </section>

        <section class="sumario">
            <div class="resumo">
                <input type="submit" value="Agendar">
            </div>
        </section>

    </form>
    <script type="module" src="/scripts/agendar.js"></script>
    <script type="module" src="/scripts/horarios.js"></script>
</body>

</html>